<div class="container">
  <div class="users">
    <mat-toolbar>
      <span>Usuarios</span>
      <div class="example-spacer"></div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/dashboard/add-person"
      >
        Agregar
      </button>
    </mat-toolbar>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let element">{{ element.fullname }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="birth">
        <th mat-header-cell *matHeaderCellDef>Birth</th>
        <td mat-cell *matCellDef="let element">{{ element.birth }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          {{ element.symbol }}
          <a class="pointer" (click)="deletePerson(element.id)" matTooltip="Delete person">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
