<div class="container">
  <div class="addUser">
      <mat-toolbar>
          <span>Create user</span>

      </mat-toolbar>


      <mat-card style="margin-top: 15px;">
          <form [formGroup]="form" (ngSubmit)="addPerson()">
              <mat-grid-list cols="4" rowHeight="70px">
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                      <mat-form-field class="width">
                          <mat-label>Nombre</mat-label>
                          <input matInput autocomplete="off" formControlName="fullname">
                      </mat-form-field>
                  </mat-grid-tile>
              
  
                
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                      <mat-form-field class="width">
                          <mat-label>Birth</mat-label>
                          <input  matInput [matDatepicker]="picker" formControlName="birth">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </mat-grid-tile>


                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary"
                          style="margin-right: 20px;">Aceptar</button>

                      <button routerLink='/dashboard' mat-raised-button>Volver</button>
                  </mat-grid-tile>
              </mat-grid-list>
          </form>
      </mat-card>
  </div>
</div>